# Application
APP_NAME="OOPress"
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=UTC

# Database
DB_TYPE=mysql
DB_HOST=localhost
DB_NAME=oopress
DB_USER=root
DB_PASS=your_password_here
DB_PORT=3306

# Mail (using PHPMailer)
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=hello@oopress.com
MAIL_FROM_NAME="OOPress"