parameters:
  level: 5
  paths:
    - core
  excludePaths:
    - core/Migration/Migrations
    - core/Console/Command
  ignoreErrors:
    - '#Unsafe usage of new static#'
    - '#Access to an undefined property#'
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false